*{
    margin:0px;
    height: auto;
    cursor: pointer;
}
body{
    margin: 0%;
    height: auto;
    font-family: 'Roboto Slab', serif;
}

img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.content-wrapped{
    position: absolute;
    top: 17%;
    left: 20%;
    text-align: left;
    
}
h1{
    font-size: 40px;
    max-width: 70px;
    color: white;
    font-weight: 50px;
    
}
h3{
    font-size: 20px;
    color: white;
    font-weight: 50px;
    
}
.below-content{
    
      text-align: left;
      left: 20%;
      right: 20%;
   padding: 8% 20% 8% 20%;
   font-size: 20px;
}
.quote-tag{
    font-size: 30px;
    padding-top: 3%;
    
   
}
.author-name{
    text-align: right;
    font-size: 30px;
    
}
.last-image{
    height: 600px;
}

.last-content {
    font-size: 50px;
    max-width: 350px;
    color: white;
  }
  .container {
    position: relative;
  
    
    color: white;
  }
.last-words{
    font-size: 18px;
    color: white;

}
.content{
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: left;
    
    
}
